/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; 
}

/* En-tête */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold; 
}

.comptable-info {
    display: flex;
    align-items: center;
}

.comptable-photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.comptable-details h3 {
    margin: 0;
    font-size: 1.2em; 
}

.comptable-details p {
    margin: 0;
}

/* Contenu principal */
main {
    padding: 20px;
    display: flex;
    flex-direction: column; /* Aligner les éléments en colonne */
    min-height: calc(100vh - 100px); /* Hauteur minimale pour le main */
}

.dashboard-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.dashboard-box {
    background-color: #fff; 
    padding: 20px;
    border-radius: 5px;
    flex-basis: 45%; /* Augmenter la largeur des boîtes */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.dashboard-box h2 {
    margin-top: 0;
    color: #333; 
}

.dashboard-box img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.view-btn {
    background-color: #007bff; 
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
    text-decoration: none ;
}

.view-btn:hover {
    background-color: #0056b3; 
}

.facture-container {
    background-color: #fff; 
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    flex-grow: 1; /* Permettre à la section de prendre tout l'espace restant */
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.encaisser-btn, .annuler-btn {
    background-color: #28a745; 
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px; 
    transition: background-color 0.3s ease; 
}

.encaisser-btn:hover {
    background-color: #218838; 
}

.annuler-btn:hover {
    background-color: #dc3545; 
}

/* Pied de page */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-top: auto; /* Positionner le pied de page en bas */
}
