body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h3 {
    background-color: #f2f2f2;
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
    padding: 10px;
    text-align: center;
  }
  
  dl {
    border-bottom: 1px solid #ddd;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 10px;
  }
  
  dt {
    flex-basis: 25%;
    font-weight: bold;
    padding: 5px 0;
  }
  
  dd {
    flex-basis: 75%;
    padding: 5px 0;
  }